<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<mat-toolbar>
  <span>MEAN Stack CRUD</span>
</mat-toolbar>
<ul>
<li><b>Angular:</b> Frontend framework. HTML interface for database</li>
<li><b>Express:</b> Backend framework.</li>
<li><b>Node:</b> Backend Server. Connects to database (Mongo) to CRUD data. Connects to frontend (Angular) to allow user to interact with data.</li>
<li><b>Mongo:</b> Backend Database.</li>
<li><b>NGINX:</b> Webserver.</li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>

